<form action="/post" method="post" style="text-align:center;" class="well form-inline center">
    <input type="text" name="post" class="col-sm-8 col-sm-offset-1">
    <button type="submit" style="float:left;margin-left:10px;" class="btn btn-success">
        <i class="glyphicon glyphicon-comment">发言</i>
    </button>
    <div style="clear:both;"></div>
</form>
